################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/exampleproject/.vs/exampleproject/v16/Server/sqlite3/db.lock
